{% include 'based.html' %}
{% block content %}
{% if message %}
    <script>
        alert("Category already exists.");
        window.location.href = "{% url 'category' %}";
    </script>
        
{% else %}
<center>
        <h1>ADD NEW CATEGORY</h1><br>
        <form enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            {{C_form.as_p}}
            <input type="submit" value="ADD" class="btn btn-danger">
        </form>
    
    </center>
{% endif %}
{% endblock %}